@media(max-width:992px){

.hero{

text-align:center;

}

.hero h1{

font-size:50px;

}

.hero h2{

font-size:24px;

}

.solution-flow{

flex-direction:column;

}

.arrow{

transform:rotate(90deg);

}

}